main .container-mainCombo{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 24px;
    box-sizing: content-box;
}
main .container-mainCombo .boxText{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fd5631;
    color: #fff;
    letter-spacing: 1px;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px black;
    margin-bottom: 2rem;
}
main .container-mainCombo .boxText h1{
    font-size: 50px;
    text-align: center;
}
main .container-mainCombo .boxText span{
    text-decoration: line-through;
    font-size: 45px;
    margin-top: 1rem;
    color: rgb(192, 192, 192);
    text-align: center;
}
main .container-mainCombo .boxText div{
    font-size: 53px;
    text-align: center;
}
main .container-mainCombo .boxText p{
    font-size: 27px;
    color: rgb(237, 237, 237);
    text-align: center;
}
main .container-mainCombo .btnCompra{
    margin: 1rem 0;
}

.text-title{
    text-align: center;
}
main .container-mainCombo .btnCompra a{
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    background-color: rgb(16, 129, 16);
    border-radius: 80px;
    box-shadow: 1px 1px 10px 1px black;
    font-size: 30px;
    transition: .3s;
    text-align: center;
}
main .container-mainCombo .btnCompra a:hover{
    background-color: rgb(0, 86, 0);
}

    main .container-mainCombo .boxImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
}
    main .container-mainCombo .boxImg  img{
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.244);
}
    main .container-mainCombo .boxImg  img:nth-child(2){
    transform: scale(1.08);
}
@media (max-width:500px){
    main .container-mainCombo .btnCompra a{
        display: block;
        font-size: 20px;
    }
    main .container-mainCombo .boxText h1{
        font-size: 30px;
    }
    main .container-mainCombo .boxImg img{
        width: 200px;
    }
}
@media (max-width:1245px){
    main .container-mainCombo .boxImg{
        padding: 2rem 0;
        overflow-x: auto;
        justify-content: stretch    ;
    }
    main .container-mainCombo .boxImg img:nth-child(2){
        transform: scale(1);
    }
}






section.organizacao{
    width: 100%;
    padding: 5rem 0;
}
section.organizacao h1.title{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 59px;
}
section.organizacao .container-organizacao{
    max-width: 1350px;
    box-sizing: content-box;
    padding: 0 24px;
    margin: 0 auto;
}
section.organizacao .container-organizacao .boxText{
    text-align: center;
    font-size: 23px;
    margin-top: 1rem;
    font-weight: bold;
}
section.organizacao .container-organizacao .boxText span{
    color: #f62d00;
}
section.organizacao .container-organizacao .boxImg{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
    margin-top: 4rem;
}
section.organizacao .container-organizacao .boxImg img{
    width: 320px;
    border-radius: 8px;
    box-shadow: 1px 1px 19px 1px rgba(0, 0, 0, 0.244);
}
section.organizacao .container-organizacao .boxImg img:nth-child(2){
    transform: scale(1.08);
}
    section.organizacao .container-organizacao .contentGarantia .btnGarantia{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 5rem;
}
section.organizacao .container-organizacao .contentGarantia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.organizacao .container-organizacao .contentGarantia img{
    margin-top: 38px;
    margin-bottom: -38px;
}
section.organizacao .container-organizacao .contentGarantia .btnGarantia h1{
   
    color: #fff;
    padding: 1rem 2rem;
    background-color: green;
    border-radius: 80px;
    border: 2px solid black;
}
@media (max-width:1240px){
    section.organizacao .container-organizacao .boxImg{
        padding: 2rem 0;
        overflow-x: auto;
        justify-content: stretch    ;
    }
    section.organizacao .container-organizacao .boxImg img:nth-child(2){
        transform: scale(1);
    }
}
@media (max-width:700px){
    section.organizacao h1.title{
        font-size: 45px;
    }
    section.organizacao .container-organizacao .boxImg img{
        width: 200px;
    }
}